@import('./pure.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap');

* {
  font-family: Roboto, sans-serif;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.centered-limited {
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    width: 32em;
}
